body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #8b5f5f;
    text-align: center;
}

h1{
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    background: #000;
}
